In [2]:
import pandas as pd
data=pd.read_csv("main.csv");

In [5]:
df=data.loc[data.isna().any(axis=1)]

In [6]:
df1=data.dropna()

In [7]:
splits = list(df1.groupby("product_description"))
len(splits)

10

In [8]:
splits[0][0]

'apple'

In [9]:
di={};
for i in range(0,len(splits)):
  di[splits[i][0]]=sum((splits[i][1]['price']*splits[i][1]['sales_quantity']))/sum(splits[i][1]['sales_quantity']);
di['apple']

2.07325

In [10]:
p_new=[0]*df.shape[0];
df['price_new']=p_new;
for i in range(0,len(splits)):
  df.loc[df["product_description"] == splits[i][0], "price_new"] = di[splits[i][0]];
df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

,product_code,product_description,product_group,sales_date,price,sales_quantity,unit,price_new
10,1001,tomato,vegetable,2021-11-11,NaN,20,kg,3.129515
34,1002,cucumber,vegetable,2021-11-05,NaN,24,kg,4.538954
37,1002,cucumber,vegetable,2021-11-08,NaN,38,kg,4.538954
73,1003,onion,vegetable,2021-11-14,NaN,39,kg,2.154286
74,1003,onion,vegetable,2021-11-15,NaN,25,kg,2.154286
99,1101,plum,fruit,2021-11-10,NaN,36,kg,4.393506
127,1102,orange,fruit,2021-11-08,NaN,28,kg,2.707126
141,1102,orange,fruit,2021-11-22,NaN,38,kg,2.707126
154,1103,apple,fruit,2021-11-05,NaN,28,kg,2.073250
160,1103,apple,fruit,2021-11-11,NaN,21,kg,2.073250
176,1103,apple,fruit,2021-11-27,NaN,29,kg,2.073250
224,1201,milk-1.5,dairy,2021-11-15,NaN,24,pcs,6.084807
230,1201,milk-1.5,dairy,2021-11-21,NaN,24,pcs,6.084807
263,1202,yogurt-1,dairy,2021-11-24,NaN,29,pcs,6.698359
279,1203,butter-0.25,dairy,2021-11-10,NaN,34,pcs,11.437275
285,1203,butter-0.25,dairy,2021-11-16,NaN,32,pcs,11.437275

In [15]:
df.to_csv("main1.csv")