In [1]:
import pandas as pd
data = pd.read_csv("main.csv")

In [2]:
data["sales_amount"]=data["sales_quantity"].where(data["unit"]!="pcs",
data["product_description"].str.split("-",expand=True)[1].astype("float")*\
data["sales_quantity"])
data["price_new"] = data['price'].fillna(
   data.groupby('product_description')['price'].transform("mean")
)
data.tail()

,product_code,product_description,product_group,sales_date,price,sales_quantity,unit,sales_amount,price_new
295,1203,butter-0.25,dairy,2021-11-26,11.9,31,pcs,7.75,11.9
296,1203,butter-0.25,dairy,2021-11-27,11.9,29,pcs,7.25,11.9
297,1203,butter-0.25,dairy,2021-11-28,11.9,37,pcs,9.25,11.9
298,1203,butter-0.25,dairy,2021-11-29,11.9,34,pcs,8.50,11.9
299,1203,butter-0.25,dairy,2021-11-30,11.9,36,pcs,9.00,11.9

In [ ]:
data.to_csv("main.csv")